@using WebSportOnline.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<BinhLuan>

<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
    Comments (@Model.TotalItemCount)
    <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
    <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
</h5>

<div class="dropdown-content dis-none p-t-15 p-b-23">
    @foreach (var item in Model)
    {
        <p class="s-text8">
            @Html.Partial("_CommentPartial", item)
            @Html.Action("ChilComment", "Comment", new { mabl = item.MaBL })
        </p>
    }

    <div id="nav-list" class="col-xs-12 col-sm-6 text-left">
        @Html.PagedListPager(Model, page => Url.Action("LoadComment", "Comment", new { masp = ViewBag.masp, page = page }))
    </div>
</div>


