@using WebSportOnline.Models
@model IQueryable<SanPham>

<!-- Relate Product -->
<section class="relateproduct bgwhite p-t-45 p-b-138">
    <div class="container">
        <div class="sec-title p-b-60">
            <h3 class="m-text5 t-center">
                Related Products
            </h3>
        </div>

        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">
            @foreach (var item in Model)
            {
                <div class="item-slick2 p-l-15 p-r-15">
                    <!-- Block2 -->
                    @Html.Partial("_ProductGridShowPartal", item)
                </div>
            }

            </div>
        </div>
    </div>
</section>
